<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="box">
    <ion-list>
      <ion-item >
        <ion-input [(ngModel)]="correo" label="Correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="contrasena" label="Contraseña"></ion-input>
      </ion-item>

    </ion-list>

    <ion-button  (click)="registro()"> Registro</ion-button>

  </div>
</ion-content>
